// global enabling or disabling optional features
$enable-button-pointers: true !default;
$enable-gradients: false !default;
$theme-color-interval: 8% !default;
$enable-smooth-scroll: true !default;
