@use 'sass:color';

@use '../Abstracts/enable-features' as *;
@use '../Abstracts/font-stacks' as *;
@use '../Abstracts/variables' as *;
@use '../Abstracts/variables-maps' as *;
@use '../Abstracts/mixins' as *;
@use '../Abstracts/functions' as *;

// Visibility

@include block("hide-for-mobile", utility) {
  @include respond(onlySmall) {
    display: none;
  }
}

@include block("hide-for-desktop", utility) {
  @include respond(medium) {
    display: none;
  }
}
@include block("noscroll", utility) {
  overflow: hidden;
}

.docu-title {
  text-transform: uppercase;
  position: sticky;
  color: #ceced4;
  top: 88px;
  z-index: -1;
  display: block;
  padding: 0 1rem;
}

section {
  position: relative;
  padding: 4rem 0;
  z-index: -1;
}
section.gray {
  background-color: #f1f2f5;
}
