@use 'sass:color';

@use '../Abstracts/enable-features' as *;
@use '../Abstracts/font-stacks' as *;
@use '../Abstracts/variables' as *;
@use '../Abstracts/variables-maps' as *;
@use '../Abstracts/mixins' as *;
@use '../Abstracts/functions' as *;

@include block("container", layout) {
  grid-row: 1;
  max-width: 100%;
  z-index: auto;
  padding: 0 $container--padding;
  @include modifier("wide") {
    // Container Wide
    grid-column: 1 / 13;
  }
  // Container 10
  @include modifier(10) {
    grid-column: 1 / 13;

    @include respond(xxLarge) {
      grid-column: 2 / 12;
    }
  }
  // Container 8
  @include modifier(8) {
    grid-column: 1 / 13;

    @include respond(xLarge) {
      grid-column: 2 / 12;
    }
    @include respond(xxLarge) {
      grid-column: 3 / 11;
    }
  }
  // Container 6
  @include modifier(6) {
    grid-column: 1 / 13;

    @include respond(large) {
      grid-column: 2 / 12;
    }
    @include respond(xLarge) {
      grid-column: 3 / 11;
    }
    @include respond(xxLarge) {
      grid-column: 4 / 10;
    }
  }
  // Container 4
  @include modifier(4) {
    /* Container 4  */
    grid-column: 1 / 13;

    @include respond(medium) {
      grid-column: 2 / 12;
    }
    @include respond(large) {
      grid-column: 3 / 11;
    }
    @include respond(xLarge) {
      grid-column: 4 / 10;
    }
    @include respond(xxLarge) {
      grid-column: 5 / 9;
    }
  }
}
