@use 'sass:color';

@use '../Abstracts/enable-features' as *;
@use '../Abstracts/font-stacks' as *;
@use '../Abstracts/variables' as *;
@use '../Abstracts/variables-maps' as *;
@use '../Abstracts/mixins' as *;
@use '../Abstracts/functions' as *;

@include block("footer", layout) {
  background: invert(colorMaps(theme, true, primary));
  color: colorMaps(theme, true, primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  @include respond(large) {
    min-height: 6rem;
  }
  @include element("claim") {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
}
