@use 'sass:color';
@use '../Abstracts/' as *;

@include block("header", layout) {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  color: #02020b;
  background-color: #fff;
  z-index: 99;
  height: 80px;
  // Hamburger Open Styles
  &.is-expanded {
    height: 100%;
  }
  &__bar {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 2;
  }
  &__logo {
    height: 55px;
    width: auto;
  }
  &__home-link {
    margin-right: auto;
    line-height: 0;
  }
  &.scroll-header {
    box-shadow: $global-small-box-shadow;
  }
  & + main {
    padding-top: 88px;
  }
}
