@use 'sass:color';
@use '../Abstracts/' as *;



body {
	font-size: typoMaps(font-size, false, base);
	font-weight: typoMaps(font-weight, false, normal);
	font-family: typoMaps(font-family, false, base), sans-serif;
	line-height: typoMaps(line-height, false, base);
	min-height: 100vh;
	&.no-scroll {
		overflow: hidden;
	}
}