@use 'sass:color';

@use '../Abstracts/enable-features' as *;
@use '../Abstracts/font-stacks' as *;
@use '../Abstracts/variables' as *;
@use '../Abstracts/variables-maps' as *;
@use '../Abstracts/mixins' as *;
@use '../Abstracts/functions' as *;

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  background: colorMaps(grayscale, true, light);
  color: colorMaps(grayscale, true, dark);
  border-radius: 0.4rem;
  z-index: 10;
  transition: 0.4s;
  visibility: hidden;

  &:hover {
    background-color: colorMaps(grayscale, true, dark);
    color: colorMaps(grayscale, true, light);
  }
}
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}
